<header class="d-flex ">
    <div class="row">
      <div class="col-sm-4 body-side_bar">
      </div>
        
      <div class="col-sm-8 body-content  text-end">
          <%= link_to new_reminder_path do %>
           <i class="fas fa-plus text-wi fa-2x mt-2" style="color: #fff"></i>
          <% end %>

      </div>
    </div>
</header>

<style>
  .row {
    width: 100%;
  }
</style>
